<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709338979670-nr2uad9il97p906p8983k8no81110v0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709338979670-nr2uad9il97p906p8983k8no81110v0q</string>
	<key>API_KEY</key>
	<string>AIzaSyBd1l9Gq9mPGtZhLtTKEz0we1KPjaQs5zI</string>
	<key>GCM_SENDER_ID</key>
	<string>709338979670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkingApp</string>
	<key>PROJECT_ID</key>
	<string>parking-ec847</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-ec847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709338979670:ios:ab9a684fb82a7aabaccaf7</string>
</dict>
</plist>